body{
    background:black;
    background-attachment: fixed;
    min-height: 100%;
}

#menu ul{
    position: sticky;
    padding:15px;
    margin: 0px;
    background-color: red;
    list-style: none;
    height: 15%;
}

#menu ul li {
    padding: 10px 40px;
    display: inline-block;
    background-color: red;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 25px;
    border-bottom: 3px solid red;   
}

#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#menu ul li a:hover {
    transition: 0.3s;
    background-color: red;
    color:black;
    border-radius: 7px 7px;
    transition: 0.5s;
}

#emCartaz{    
    width: 100%;
    background: black;
    height: 1050px;  
    padding: 60px; 
}

section #title{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding: 20px;
    color: white;
}

section #filmess{
    display: flex;
    justify-content: center;
    padding: 30px;
}

section #filmess img{
    padding: 10px;
}

section #filmess img:hover{
    transition: 0.5s;
    opacity: 0.4;
}

section #filmess2{
    display: flex;
    justify-content: center;
}

section #filmess2 img{
    padding: 10px;
}

section #filmess2 img:hover{
    transition: 0.5s;
    opacity: 0.4;
}

#emBreve{    
    width: 100%;
    background: black;
    height: 700px;  
    padding: 60px; 
}

section #titles{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding: 20px;
    color: yellow;
}

section #filmesB{
    display: flex;
    justify-content: center;
    padding: 30px;
}

section #filmesB img{
    padding: 10px;
}

section #filmesB img:hover{
    transition: 0.5s;
    opacity: 0.4;
}

footer{
    width: 100%;
    background: white;
    height: 311px;  
    padding: 20px; 
}

#redesSocias{
    width: 100%;
    background: white;
    height: 70px;  
    padding: 10px; 
    border-radius: 10px;
}

footer #redes{
    display: flex;
    justify-content: center;
}

footer #redes h4{
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

#sobre{
    width: 100%;
    background: red;
    height: 200px;  
    border-radius: 10px;
    padding: 10px;
}

section #nos h4{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: black;
}

section #nos h5{
    margin-left: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}